
.btn {
	padding: 6px 10px;
	margin: 5px auto;
	border-radius: 2px;
	line-height: 1.9em;
	border: 1px solid $dark-grey;
	background-color: $white;
}

.btn-default {
	color: $white;

	&:hover {
		background-color: $light-grey;
	}
}